<template name="index">
	{{>yield}}
</template>
<template name="main">
	{{#if currentuser}}
		<p> You,re logged in</p>
	{{else}}
		<div class="container">
			<div class="jumbotron">
				<ul>
					<li>{{>sign}}</li>
					<li>{{>register}}</li>
				</ul>
			</div>
		</div>
	{{/if}}
</template>
<!-- Sign in template-->
<template name='sign'>
	<button class="btn btn-success"><a href="/sign">Sign In</a></button>
</template>
<!-- Sign Up template-->
<template name="register">
	<button class="btn btn-success"> <a href="/register">Sign Up</a></button>
</template>
<!--Template to render sign in form-->
<template name="login">
	<div class="container">
		<div class="jumbotron">
			<form class="login_form">
				<label>Email:</label><br>
				<input class="login_email" type="email" name="login_email">
				<br>
				<br>
				<label>Password:</label><br>
				<input class="login_password" type="password" name="login_password">
				<br>
				<br>
				<input type="submit" value="Login" class="btn btn-lg">
			</form>
		</div>
	</div>
</template>


<!--Templat to render sign up form-->
<template name="sign_up">
	<div class="container">
		<div class="jumbotron">
			<form class="register_form">
			<label>Email:</label><br>
				<input type="email" name="register_email" placeholder="Please enter your email here">
				<br>
				<br>
				<label>Password:</label><br>
				<input type="password" name="password" placeholder="Please enter your password here">
				<br>
				<br>
				<label>Confirm Password</label><br>
				<input type="password" name="confirm_password" placeholder="Please re-enter your password">
				<br>
				<br>
				<input type="submit" value="Register" class="btn btn-large">
			</form>
		</div>
	</div>
</template>

<template name="User">
	{{>facebook_login}}
</template>
<template name="facebook_login">
		<!--displays the users first last name, so the user can make sure that its a right page-->
	
		<div class="container">
			{{currentUser.services.facebook.name}}
			<div class="jumbotron">
				{{>facebook_post}}
			</div>
		</div>
	<!--provide user with the option to disconnect page-->
	<button id="logout" class="btn btn-default" value="Disconnect">Disconnect</button>
	<!--provide user with the option to connect users facbook page-->
	<button class="btn btn-default login">Connect</button>
	
</template>
<!-- Displays the users wall info-->
<template name="facebook_wall">

</template>
<!--Provide user with the option to post on his/her page-->
<template name="facebook_post">


	<div id="status"></div>
	<div class="row">
		<textarea type="text" class="post_holder" id="wall_message" name="post_holder">
	
		</textarea>
	</div>
	<div class="row">
		<div class="col-md-4 button_group">
			<button id="facebook_post" calss="btn btn-default">Send</button>
		</div>
	</div>
	{{>facebook_sdk_post}}

</template>
<template name="facebook_sdk_post">
<script>
		// initialize and setup facebook js sdk
		window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '237190349985766',
		      xfbml      : true,
		      version    : 'v2.6'
		    });
		    FB.getLoginStatus(function(response) {
		    	if (response.status === 'connected') {
		    		document.getElementById('status').innerHTML = 'We are connected.';
		    		document.getElementById('login').style.visibility = 'hidden';
		    	} else if (response.status === 'not_authorized') {
		    		document.getElementById('status').innerHTML = 'We are not logged in.'
		    	} else {
		    		document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
		    	}
		    });
		};
		(function(d, s, id){
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) {return;}
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		function login() {
			FB.login(function(response) {
				if (response.status === 'connected') {
		    		document.getElementById('status').innerHTML = 'We are connected.';
		    		document.getElementById('login').style.visibility = 'hidden';
		    	} else if (response.status === 'not_authorized') {
		    		document.getElementById('status').innerHTML = 'We are not logged in.'
		    	} else {
		    		document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
		    	}
			}, {scope: 'publish_actions'});
		}
		// posting on user timeline

		function post() {
			var post_text = document.getElementById('wall_message').value;
			FB.api('/me/feed', 'post', {message:post_text}, function(response) {
			
				document.getElementById('wall_message').value="";
			});
		}
	</script>

	<div id="status"></div>
	<button onclick="getInfo()">Get Info</button>
	<button onclick="post()">Post</button>
	<button onclick="login()" id="login">Login</button>

</template>
