<!-- Sign in template-->
<template name='sign'>
	<button class="btn btn-success"><a href="/sign">Sign In</a></button>
</template>
<!-- Sign Up template-->
<template name="register">
	<button class="btn btn-success"> <a href="/register">Sign Up</a></button>
</template>
<!--Template to render sign in form-->
<template name="sign_in">

	<div class="container">
		<div class='jumbotron'>
		<form class="form-signing">
		<h2 class="form-signing-heading">Please Sign In</h2>
			<input type="text" class="input-block-level" placeholder="Email address">
			<br>
			<br>
			<input type="text" class="input-block-level" placeholder="Password">
			<br>
			<button class="btn btn-large btn-primary">Submit</button>
		</form>
	</div>
	</div>
	
</template>
<!--Templat to render sign up form-->
<template name="sign_up">
<div class="container">
		<div class='jumbotron'>
		<form class="form-signing">
		<h2 class="form-signing-heading">Please Sign In</h2>
			<input type="text" class="input-block-level" placeholder="Email address">
			<br>
			<br>
			<input type="text" class="input-block-level" placeholder="Password">
			<br>
			<br>
			<input type="text" class="input-block-level" placeholder="Confirm Email">
			<br>
			<button class="btn btn-large btn-primary">Submit</button>
		</form>
	</div>
	</div>
</template>